<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Micube.SmartMES.SystemManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Micube.SmartMES.SystemManagement.Properties.Settings>
            <setting name="Micube_SmartMES_SystemManagement_SmartDeployService_WebService"
                serializeAs="String">
                <value>http://localhost:8080/WebService.asmx</value>
            </setting>
        </Micube.SmartMES.SystemManagement.Properties.Settings>
    </applicationSettings>
</configuration>